.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}
body {
  background-color: #a0a0a0;  
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  border-radius: 11px 11px 11px 11px;
  border: 5px solid #e5b8ff;
  width: 25%;
  height: 25%;
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  margin-bottom: 20px;
  border: none;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
}

.genre-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.genre-filter button {
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.genre-filter button:hover {
  background-color: #ddd;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.game-card:first-child {
  display: inline-block;
}
.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.game-card h2 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.search-button {
  background-color: #f1f1f1;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  color: #333;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ddd;
}

.reload-button {
  background-color: #f1f1f1;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.reload-button:hover {
  background-color: #ddd;
}

/* Regras de mídia para dispositivos móveis */
@media screen and (max-width: 768px) {
  .App {
    margin-top: 30px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 150px;
    margin-bottom: 10px;
  }

  .genre-filter button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .game-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .game-card {
    margin-bottom: 10px;
  }

  .game-card img {
    max-width: 150px;
  }

  .game-card h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .App {
    margin-top: 20px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: 130px;
    margin-bottom: 5px;
  }

  .genre-filter button {
    padding: 4px 8px;
    font-size: 10px;
  }

  .game-list {
    grid-template-columns: 1fr;
  }
}
